header {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        width: 120px;
        height: auto;
    }

    ul {
        display: flex;
        align-items: flex-end;
        text-align: right;

        li {
            margin-left: 10px;

            a {
                font-size: 12px;
                font-weight: 500;
                white-space: nowrap;
            }
        }
    }
}

@media (min-width: 1000px) {
    header {
        padding: 20px 100px;

        img {
            width: 180px;
        }

        ul {
            li {
                margin-left: 60px;

                a{
                    font-size: 24px;
                }
            }
        }
    }
}