.logement-header-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 16px;

    .title-wrapper {

        h1 {
            font-size: 18px;
            margin-bottom: 5px;
        }

        > p {
            font-size: 14px;
            margin-bottom: 10px;
        }

        .tags-wrapper {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 16px;
            gap: 10px;
            flex-wrap: wrap;
        }
    }

    .header-bottom {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .host-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;

            p {
                width: 40px;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                overflow: hidden;
                font-size: 12px;
            }

            img {
                width: 32px;
                height: 32px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
            }
        }
    }

    
}

.logement-dropdown-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
}

@media (min-width: 1000px) {
    .logement-header-wrapper {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 36px;

        .title-wrapper {
            h1 {
                font-size: 36px;
                margin-bottom: 10px;
            }

            > p {
                font-size: 18px;
                margin-bottom: 20px;
            }
        }

        .header-bottom {
            width: auto;
            flex-direction: column-reverse;
            justify-content: flex-end;
            gap: 26px;

            .host-wrapper {
                
                p {
                    font-size: 18px;
                }

                img {
                    width: 64px;
                    height: 64px;
                }
            }
        }
    }

    .logement-dropdown-wrapper {
        flex-direction: row;
        align-items: flex-start;
        gap: 76px;

        .dropdown-wrapper {
            > p {
                font-size: 18px;
            }

            .dropdown-title {

                p {
                    font-size: 18px;
                }

                img {
                    font-size: 18px;
                }
            }
        }
    }
}