.stars-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;

    img {
        width: 13px;
        height: 13px;
    }
}

@media (min-width: 1000px) {
    .stars-wrapper {
        gap: 15px;

        img {
            width: 24px;
            height: 24px;
        }
    }
}